
@using Capstone.Web.Models

@model Survey

@{ 
    IList<SelectListItem> parks = new List<SelectListItem>(Model.GetParksList());
    IList<SelectListItem> states = new List<SelectListItem>(Model.GetStatesList());
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

<h2>Submit Your Survey</h2>
<h4>Please Vote on your favorite park here!</h4>
<h4>Results will be tallied and displayed on the next page.</h4>
<hr>
@using (Html.BeginForm("Survey", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-2">
            <div class="dropdown dropleft">
                Vote HERE:
            </div>
                @Html.DropDownListFor(m => m.UserParkChoice, parks, "Select Your Favorite Park")
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.EmailAddress)
            @Html.EditorFor(m => m.EmailAddress, new { htmlAttributes
                = new { placeholder = "email address (required)"}})
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                State:
            </div>
                @Html.DropDownListFor(m => m.UserParkChoice, states, "Select Your Residence State")
            </div>
            <div class="row">
                <div class="col-sm-2">
                    Rate the activity level:
                </div>
                    <div class="btn-group btn-group-lg" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.UserActivityChoice, "Inactive", new { name = "Inactive" })
                        </label>
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.UserActivityChoice, "Sedentary", new { name = "Sedentary" })
                        </label>
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.UserActivityChoice, "Active", new { name = "Active" })
                        </label>
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.UserActivityChoice, "Extremely Active", new { name = "Extremely Active" })
                        </label>
                    </div>
                </div>
            </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}
